<!-- card pexeso section -->
<section id="cardview" class="mgn-xy">
  <div class="grid cardpexeso triplet">
  <% @donors.each do |donor| %>
    <div class="grid card outline">
      <!-- <div class="card-stub"></div> -->
      <div class="grid card-top">
        <p class="xl card-top-title">
          <%= link_to donor, class: 'link decor-3' do %>
            <% if donor.last_name.blank? && donor.first_name.blank? %>
              Anonymous
            <% else %>
              <%= donor.last_name %> <%= donor.first_name %>
            <% end %>
          <% end %>
        </p>
      </div>
      <div class="grid card-main">
        <div class="card-main-primary sin">
          <p class="l"> Planned donation </p>
          <p class="m"> lorem ipsum </p>
        </div>
        <div class="card-main-primary dex">
          <% if donor.bool_donat %>
            <p class="l"> <i class="fa fa-check is-positive" aria-hidden="true"></i></p>
          <% else %>
            <p class="l"> <i class="fa fa-times is-negative" aria-hidden="true"></i></p>
          <% end %>
          <p class="l"> <i class="fa fa-handshake-o" aria-hidden="true"></i></p>
        </div>
        <div class="card-main-secondary">
          <table class="tcard">
            <tbody>
              <tr>
                <td class=""> last giving amount </td>
                <td class=""> $<%= donor.last_donat.to_i.floor %> </td>
              </tr>
              <tr>
                <td class=""> Lifetime giving amount </td>
                <td class=""> $<%= donor.lifetime_donat.to_i.floor %> </td>
              </tr>
              <tr>
                <td class=""> events attended </td>
                <td class=""> <%= donor.events_att %> </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-main-bottom">
          <p class=""><i> donor@email.com </i></p>
          <p class=""> xxx-xxx-xxxx </p>
        </div>
      </div>
    <!-- end of card -->
    </div>
  <% end %>

  <!-- end of pexeso -->
  </div>
<!-- end of cardview section -->
</section>
