<section id="" class="mgn-xy">
  <!-- postcard section -->
  <%= form_with(model: donor, local: true, class: 'flex postcard pad-x bt form-donor') do |form| %>
    <% if donor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(donor.errors.count, "error") %> prohibited this donor from being saved:</h2>

        <ul>
        <% donor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <!-- <form class="flex postcard pad-x bt form-donor"> -->
    <div id="" class="flex postcard-side dex pad-xy">
      <div class="flex panel bb formhead">
        <h6> Occupation </h6>
      </div>
      <div class="">
        <%= form.label :occupation, class: 'xs upcase bld' %><br>
        <%= form.text_field :occupation, id: :donor_occupation, class: 'input emb-1 w100p' %>
      </div>
      <div class="flex panel formhead">
        <h6> Education </h6>
      </div>
      <div class="">
        <%= form.label :college, class: 'xs upcase bld' %><br>
        <%= form.text_field :college, id: :donor_college, class: 'input emb-1 w100p' %>
      </div>
      <div class="">
        <%= form.label :major, class: 'xs upcase bld' %><br>
        <%= form.text_field :major, id: :donor_major, class: 'input emb-1 w100p' %>
      </div>
      <div class="">
      </div>
    </div>

    <div class="postcardese pad-xy">
      <div class="flex panel bb formhead">
        <h6> Personal Information </h6>
      </div>
      <div class="">
        <%= form.label :first_name, class: 'xs upcase bld' %>
        <%= form.text_field :first_name, id: :donor_first_name, class:'input emb-1 w100p' %>

        <%= form.label :last_name, class: 'xs upcase bld' %>
        <%= form.text_field :last_name, id: :donor_last_name, class: 'input emb-1 w100p' %>

        <%= form.label :street, class: 'xs upcase bld' %>
        <%= form.text_field :street, id: :donor_street, class: 'input emb-1 w100p' %>

        <%= form.label :city, class: 'xs upcase bld' %>
        <%= form.text_field :city, id: :donor_city, class: 'input emb-1 w100p' %>

        <%= form.label :state, class: 'xs upcase bld' %>
        <%= form.text_field :state, id: :donor_state, class: 'input emb-1 w100p' %>

        <%= form.label :zipcode, class: 'xs upcase bld' %>
        <%= form.number_field :zipcode, id: :donor_zipcode, class: 'input emb-1 w100p' %>
      </div>
      <div class="flex panel bb formhead">
        <h6> Contributions Information </h6>
      </div>
      <div>
        <%= form.label 'lifetime giving amount ($)', class: 'xs upcase bld' %>
        <%= form.number_field :lifetime_donat, id: :donor_lifetime_donat, class: 'input emb-1 w100p' %>

        <%= form.label 'last giving amount ($)', class: 'xs upcase bld' %>
        <%= form.number_field :last_donat, id: :donor_last_donat, class: 'input emb-1 w100p' %>

        <%= form.label 'events attended', class: 'xs upcase bld' %>
        <%= form.number_field :events_att, id: :donor_events_att, class: 'input emb-1 w100p' %>

        <%= form.label 'plans to gift', class: 'xs upcase bld' %>
        <%= form.check_box :bool_donat, id: :donor_bool_donat, class: 'input emb-1 w100p' %>
      </div>
      <div class="actions">
        <%= form.submit class: 'btn'%>
      </div>
    <!-- end of postcardese -->
    </div>
  <!-- end of postcard -->
<% end %>
  <!-- </form> -->
</section>
