<!-- Page title -->
<div class="flex xpanel pghead mgn-xy">
  <p class="xl">
  <%= @donor.first_name %> <%= @donor.last_name %>
 </p>
 <%= link_to 'Edit', edit_donor_path(@donor), class: 'link' %>
 <%= link_to 'Back', donors_path, class: 'link' %>
</div>

<p id="notice"><%= notice %></p>

<!-- person section -->
<section id="dboard" class="">
  <section id="dboard-main" class="grid sin">
    <section id="dboard-main-side" class="">
      <h5 class="subctg-title"> Primary stats </h5>
      <br>
      <h1 class="xl"> 01 </h1>
      <h1 class="l"> AA </h1>
      <br>
      <h5 class="subctg-important">
        <% if @donor.bool_donat %>
          <p class="l"> <i class="fa fa-check is-positive" aria-hidden="true"></i></p>
        <% else %>
          <p class="l"> <i class="fa fa-times is-negative" aria-hidden="true"></i></p>
        <% end %>
      </h5>
      <p class="xs epi-4m"> planned donation </p>
      <br>
      <br>
      <p>
        Lorem ipsum dolor sit amet, errem temporibus id vis, corpora
        philosophia at eos. Ius ex fuisset atomorum neglegentur, at
        qui mutat argumentum, eu enim posse eum.
      </p>
    </section>

    <section id="dboard-main-main" class="">
      <h5 class="subctg-title"> Events attended </h5>
      <table id="tevents">
        <tbody>
          <tr class="has-year">
            <td>
              <h4 class=""> 2017 </h4>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <h5> Dec </h5>
              <h5> 20 </h5>
              <p class="xs invisible epi-4m"> date </p>
            </td>
            <td>
              <h5 class=""> lorem ipsum </h5>
              <p class="xs epi-4m"> Nostrum temporibus eloquentiam cum an. </p>
            </td>
          </tr>
        </tbody>

      </table>
    </section>

    <section id="dboard-main-bottom" class="grid">
      <h5 class="subctg-title"> Secondary Notes </h5>
      <div class="subctg">
        <h5> Notes 1 </h5>
        <p>
          Lorem ipsum dolor sit amet, errem temporibus id vis, corpora
          philosophia at eos. Ius ex fuisset atomorum neglegentur, at
          qui mutat argumentum, eu enim posse eum. Usu nihil audire ad,
          probo dolor efficiendi in mel, ius equidem fabellas at.
          Nostrum temporibus eloquentiam cum an.
        </p>
        <h5> Notes 2 </h5>
        <p>
          Lorem ipsum dolor sit amet, errem temporibus id vis, corpora
          philosophia at eos. Ius ex fuisset atomorum neglegentur, at
          qui mutat argumentum, eu enim posse eum. Usu nihil audire ad,
          probo dolor efficiendi in mel, ius equidem fabellas at.
          Nostrum temporibus eloquentiam cum an.
        </p>
        <h5> Notes 3 </h5>
        <p>
          Lorem ipsum dolor sit amet, errem temporibus id vis, corpora
          philosophia at eos. Ius ex fuisset atomorum neglegentur, at
          qui mutat argumentum, eu enim posse eum. Usu nihil audire ad,
          probo dolor efficiendi in mel, ius equidem fabellas at.
          Nostrum temporibus eloquentiam cum an.
        </p>
        <h5> Notes 4 </h5>
        <p>
          Lorem ipsum dolor sit amet, errem temporibus id vis, corpora
          philosophia at eos. Ius ex fuisset atomorum neglegentur, at
          qui mutat argumentum, eu enim posse eum. Usu nihil audire ad,
          probo dolor efficiendi in mel, ius equidem fabellas at.
          Nostrum temporibus eloquentiam cum an.
        </p>
        <h5> Notes 5 </h5>
        <p>
          Lorem ipsum dolor sit amet, errem temporibus id vis, corpora
          philosophia at eos. Ius ex fuisset atomorum neglegentur, at
          qui mutat argumentum, eu enim posse eum. Usu nihil audire ad,
          probo dolor efficiendi in mel, ius equidem fabellas at.
          Nostrum temporibus eloquentiam cum an.
        </p>
      </div>
    </section>

  <!-- end of dboard-main -->
  </section>

  <section id="dboard-side" class="dex">
    <section id="dboard-side-stats" class="grid">
      <h5 class="subctg-title"> Summary </h5>
      <div class="subctg">
        <h5 class="subctg-important">
          <% if @donor.last_donat %>
            <%= @donor.last_donat %>
          <% else %>
            None
          <% end %>
        </h5>
        <p class="xs epi-4m"> last donation </p>

        <h5 class="subctg-important">
          <% if @donor.lifetime_donat %>
            <%= @donor.lifetime_donat %>
          <% else %>
            None
          <% end %>
        </h5>
        <p class="xs epi-4m"> lifetime donation </p>

        <h5 class="subctg-important">
          <% if @donor.events_att %>
            <%= @donor.events_att %>
          <% else %>
            None
          <% end %>
        </h5>
        <p class="xs epi-4m"> events attended </p>

        <h5 class="subctg-important">
          <% if @donor.occupation %>
            <%= @donor.occupation %> </h5>
          <% else %>
            None
          <% end %>
        </h5>
        <p class="xs epi-4m"> occupation </p>


        <h5 class="subctg-important">
          <% if @donor.college %>
            <%= @donor.college %>
          <% else %>
            None
          <% end %>
        </h5>
        <p class="xs epi-4m"> college </p>

        <h5 class="subctg-important">
          <% if @donor.major %>
            <%= @donor.major %>
          <% else %>
            None
          <% end %>
        </h5>
        <p class="xs epi-4m"> major </p>

        <h5 class="subctg-important">
          <% if @donor.street &&
                @donor.city &&
                @donor.state &&
                @donor.zipcode %>
            <%= @donor.street %>, <%= @donor.city %>, <%= @donor.state %>, <%= @donor.zipcode %>
          <% else %>
            Incomplete
          <% end %>
        </h5>
        <p class="xs epi-4m"> address </p>
      </div>

      <h5 class="subctg-title bt"> Graph 1 </h5>
      <div class="ctn-test outline"></div>

      <h5 class="subctg-title bt"> Graph 2 </h5>
      <div class="ctn-test outline"></div>
    </section>

    <!-- end of dboard-side -->
  </section>
<!-- end of dboard -->
</section>

<!-- large graph section -->
<section id="graphs">
  <div class="pad-xy">
    <h5 class="subctg-title bb"> Horizontal Timeline and large graphs </h5>
  </div>
</section>
